<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление юзера</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: blueviolet" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </br>
    <label for="password">Введите пароль: </label>
    <input type="password" th:field="*{password}"
           pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}"
           title="Пароль должен содержать заглавную, маленькую буквы , цифры.
            Длинна пароля от 6 до 20 символов" id="password"/>
    <div style="color: cadetblue" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

    </br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="roles : ${role}"
               th:text="${roles.getName()}"
               th:value="${roles.getId()}"
               th:field="*{roles}"
        /><br/>
    </label>
    </br>
    <input type="submit" value="Создание User">
</form>
<br>
<a th:href="@{'/logout'}">Выход</a></body>
</html>