<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Добавление юзера</title>
</head>
<body>
<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: blueviolet" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </br>
    <label for="lastName">Введите фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <div style="color: cadetblue" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: olivedrab" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </br>
    </br>
    <input type="submit" value="Создание User">
</form>
</body>
</html>