<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Добавление юзера</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:text="${user.getName()}"></span></b>
            <span class="align-middle">с ролями:</span>
            <span class="align-middle" th:text="${user.getRolesString()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="p-0 col-2">
                <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
                       aria-controls="v-pills-home" aria-selected="true">Admin</a>
                    <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))"
                       role="tab"
                       aria-controls="v-pills-profile" aria-selected="false">User</a>
                </div>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid">
                    <h1 class="m-3 fw-bold">Админская панель</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link " data-bs-toggle="tab" href="/admin/">Таблица юзеров</a>
                            <a class="nav-link active" data-bs-toggle="tab" >Новый пользователь</a>
                        </ul>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>Все юзеры</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>